body {
  background: black;
  color: white;
  font-family: Cormorant Upright, serif;
  text-align: center;
  font-size: 20px;
}

h1 {
  font-family: Amaranth, sans-serif;
}

.banner {
  text-align: center;
  font-family: Cormorant Upright, serif;
  font-size: 50px;
  font-style: italic;
}

.navBar {
    display: flex;
    background-color: black;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    align-items: center;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .navBar {
      flex-direction: column;
      align-items: center;
      height: 250px;
    }
  }

.navLink > a {
    
    color: white;
    text-align: center;
    width: 100px;
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    font-family: Amaranth, sans-serif;
}

.restaurantPhoto {
    max-width: 100%;
    height: auto;
}

.map {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.calendar {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.form {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.appetizers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
  align-items: center;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .appetizers {
    flex-direction: column;
    text-align: center;
  }
}

.mainDish {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  align-items: center;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .mainDish {
    flex-direction: column;
    text-align: center;
  }

  div#content {
    order: 1;
  }

  div#image {
    order: 2;
  }
}

.dessert {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
  align-items: center;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .dessert {
    flex-direction: column;
    text-align: center;
  }
}

.beverages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .beverages {
    flex-direction: column;
    
  }
}

.menuPhoto {
  padding: 30px;
  
}

@media (max-width: 800px) {
  .menuPhoto {
    max-width: 60%;
    height: auto;
    
  }
}

.beveragePhoto {
  max-width: 100%;
  height: auto;
}